@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)
	body
		overflow-x: hidden
	.st-content
		overflow-x: hidden	
	.st-content-inner
		margin: 0
	#st-trigger-effects
		width: 100%
	.base-content
		margin-top: 0
		padding-bottom: 30px
	.promo-content
		position: relative
		flex-wrap: wrap
	.promo .logo
		text-align: center
		top: 40px
		margin-bottom: 20px
		svg
			//width: 100px
			max-width: 50%
			margin: 0 auto
	.promo-text
		width: 100%
		text-align: center
		font-size: 14px
		margin-bottom: 20px
	.promo-social
		width: 100%
	.social
		max-width: 100%
	.social-list
		justify-content: center
		margin-bottom: 30px
	.base-btn
		right: 0
		max-width: 310px
		margin: 0 auto
	.scroll
		width: 50px
		height: 50px
		bottom: 0
	.base-btn:before
		left: 0
	.download-button svg
		margin-left: -40px
	.base-content.right .container .content-image
		position: static
		width: 100% !important
		height: 400px
	.base-content.left .container .content-image
		position: static
		width: 100% !important
		height: 400px	
	.base-content.right .container
		flex-wrap: wrap
	.base-content.left .container
		flex-wrap: wrap
		justify-content: flex-end		
	.base-content
		padding-top: 0 !important
	.base-content .content-item
		width: 100%
	.base-content.right .container .content-item
		padding: 10px
		text-align: center
	.base-content.left .container .content-item
		padding-right: 0
		text-align: center	
	.base-content.right .container .content-tittle
		left: 8%
		top: 25%
		font-size: 70px
	.base-content.left .container .content-tittle
		left: 8%
		top: 25%
		font-size: 70px	
	#kometa
		.content-tittle
			font-size: 70px !important		
	.content-logo
		margin-bottom: 30px
	.content-text
		font-size: 14px
		margin-bottom: 25px
	.st-menu ul li a
		font-size: 20px
	.principles-header .principles-title,
	.principles-header .thin
		font-size: 26px
		line-height: 40px
	.principles-header .principles-title span
		line-height: 36px
	.principles-header
		flex-wrap: wrap
	.principles-header svg
		margin: 0 auto
		width: 140px
	.principles-grid .principles-item
		width: 100%
	.principles-grid
		padding-top: 0
	.marketing-content
		flex-wrap: wrap
		flex-direction: column-reverse
	.marketing .marketing-title
		font-size: 26px
		padding: 0 10px
		line-height: 35px
		text-align: center
		margin-bottom: 30px
	div#marketing
		padding: 0
	.marketing-list
		top: 0
		max-width: auto
		width: 100%
		margin-left: 60px
	.marketing-list li
		margin-bottom: 25px	
	.marketing-list li:before
		left: -45px
		top: -5px
	.marketing-video
		bottom: 0
	.thank-title
		font-size: 70px																															
// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
